# Finnhub
FINNHUB_API_KEY= your-finnhub-freetrial-key

# AWS 
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-key
AWS_REGION=your-key
S3_BUCKET=your-key

# Airflow
AIRFLOW__CORE__EXECUTOR=your-key
AIRFLOW__CORE__FERNET_KEY=your-key
AIRFLOW__CORE__LOAD_EXAMPLES=your-key
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=your-key
AIRFLOW__WEBSERVER__SECRET_KEY=your-key

# Snowflake
SNOWFLAKE_ACCOUNT=your-key
SNOWFLAKE_USER=your-key
SNOWFLAKE_PASS=your-key
SNOWFLAKE_ROLE=your-key